<template>
 <div class="q-pa-md row items-start q-gutter-md">
   <div v-for="(siteContent, index ) in categoryContents" :key="index">
      <q-card class="my-card col" inline style="max-width: 100%">
        <img v-if="siteContent.image" :src="'/upload/content/' + siteContent.image" style="height: 180px;">
        <img v-else-if="siteContent.image_url" :src="siteContent.image_url" style="height: 180px;">
        <q-card-section>
          <div class="text-h6"><a :href="siteContent.news_url">{{ siteContent.title.substring(0,25)+"..." }}</a></div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>
    </div>
 </div>
</template>
<script>
import { mapGetters,mapActions,mapState } from 'vuex'
export default {
  props: ['title'],
  computed:{
    ...mapGetters('news',['getUserAll','siteContents','categoryContents'])
    
  },
  watch: {
    '$route.params.title': function (title) {
      this.$store.dispatch('news/usersListed')
      this.$store.dispatch('news/siteContent')
        this.$store.dispatch('news/categoryWiseContent',this.$route.params.title)
    }
  },
  created(){
   this.$store.dispatch('news/usersListed')
   this.$store.dispatch('news/siteContent')
    this.$store.dispatch('news/categoryWiseContent',this.$route.params.title)
   
  },
  mounted(){
   console.log(this.$route.currentRoute)
   this.loadData()
  },
    data () {
    return {
      param: this.$route.params.title,
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
  },
  methods:{
    loadData(){
      var vm = this;

      // this.$axios.get('https://jsonplaceholder.typicode.com/todos/1')
      //   .then(function (response) {
      //     // handle success
      //     console.log(response);
      //   })
      //   .catch(function (error) {
      //     // handle error
      //     console.log(error);
      //   })
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>