<template>
  <q-item
    clickable
    tag="a"
    :to="'/'+title"
    exact
  >
    <q-item-section
      v-if="category_icon"
      avatar
    >
    <q-icon name="drafts" />
 
      <!-- <q-icon :name="category_icon" /> -->
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ bangla_name }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    bangla_name: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    title: {
      type: String,
      default: '#'
    },

    category_icon: {
      type: String,
      default: ''
    }
  }
}
</script>
